<header>
	<nav id="menu">
		<!--menu-->
		<span class="menu-toggle">
		  <i class="menu-open fa fa-bars fa-lg"></i>
		  <i class="menu-close fa fa-times fa-lg"></i>
		</span>
		<div class="menu-triangle">
			<ul class="menu-items">
			  <li>
			  	<a href="index">
			  		<i class="icon fa fa-home fa-3x"></i> {{ page.menu.index }} </a>
			  </li>
			  <li>
			  	<a href="{{ page.menu.about-page }}">
			  		<i class="icon fa fa-hand-peace-o fa-3x"></i> {{ page.menu.about }} </a>
			  </li>
			  <li>
			  	<a href="index#portfolio" id="portifa">
			  		<i class="icon fa fa-object-group fa-3x"></i> {{ page.menu.portfolio }} </a>
			  </li>			  			 
			  <li>
			  	<a href="#contact">
			  		<i class="icon fa fa-paper-plane fa-3x"></i> {{ page.menu.contact }} </a>
			  </li>
			</ul>
		</div>
	</nav>	
</header>