<header>
	<nav id="menu">
		<!--menu-->
		<span class="menu-toggle">
		  <i class="menu-open fa icon-menu fa-lg"></i>
		  <i class="menu-close fa icon-cancel fa-lg"></i>
		</span>
		<div class="menu-triangle">
			<ul class="menu-items">
			  <li>
			  	<a href="index">
			  		<i class="icon fa icon-home fa-3x"></i> Home </a>
			  </li>
			  <li>
			  	<a href="about">
			  		<i class="icon fa icon-angellist fa-3x"></i> About </a>
			  </li>
			  <li>
			  	<a href="index#portfolio" id="portifa">
			  		<i class="icon fa icon-link fa-3x"></i> Portfolio </a>
			  </li>			  			 
			  <li>
			  	<a href="#contact">
			  		<i class="icon fa icon-paper-plane fa-3x"></i> Contact </a>
			  </li>
			</ul>
		</div>
	</nav>	
</header>