---
lang: pt-br
description: > # this means to ignore newlines until "keywords"
  Muito prazer, meu nome é Matheus Villalón e sou Desenvolvedor Front End.
  Estou disponível para trabalhos remotos, parcerias ou simplesmente trocar uma idéia.
  Meu foco é Front End, mas também realizo trabalhos de Ui Design e Back End, em sites,
  portais, blogs, lojas virtuais e aplicativos híbridos.
keywords: > # this means to ignore newlines until "menu"
  matheus villalon, mateus villalon, mateus vilalon, matheus vilalon, criação de sites mogi guaçu, campinas, desenvolvedor, programador, front-end, frontend, front end, back-end, ui design, trabalho remoto, freelancer, freela, otimização de sites, desenvolvedor criativo, identidade visual, aplicativos multi plataforma, aplicativos hibridos. 
menu:
    index: Home
    about: Sobre	
    about-page: sobre
    whatido: O que eu faço
    skills: Skills
    portfolio: Portfólio
    contact: Contato
---
<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body>

  	
        {% include header.html %}    

        {{ content }}

    	{% include footer.html %}    

    
  
  </body>

</html>
