---
lang: en
description: > # this means to ignore newlines until "keywords"
  Muito prazer, meu nome é Matheus Villalón e sou Desenvolvedor Front End.
  Estou disponível para trabalhos remotos, parcerias ou simplesmente trocar uma idéia.
  Meu foco é Front End, mas também realizo trabalhos de Ui Design e Back End, em sites,
  portais, blogs, lojas virtuais e aplicativos híbridos.
keywords: > # this means to ignore newlines until "menu"
  matheus villalon, mateus villalon, mateus vilalon, matheus vilalon, website development, developer, web developer, web design, front-end, frontend, front end, back-end, ui design, remote job, freelancer, freela, websites, creative developer, visual identity, hybrid apps. 
menu:
    index: Home
    about: About
    about-page: about	
    whatido: What I Do
    skills: Skills
    portfolio: Portfolio
    contact: Contact
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	
        {% include header-en.html %}    

        {{ content }}

    	{% include footer.html %}    

    
  
  </body>

</html>
